// colors
$main-color: #4D5BF9;
$background-color: #FCFCFC;
$block-color: #FFFFFF;
$block-brd-radius: 10px;
$block-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$block-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.15);
$block-shadow_highlight: 0 4px 10px transparentize($main-color, 0.5);
$lesson-color: #F4F4F4;
$group-color: #F4F4F4;
$hover-color: #F2F3F4;
$input-color: #F2F2F2;
$switch-color: #8A8A8A;
$w-font-color: #FFFFFF;
$font-color: #000000;
$half-font-color: rgba(0, 0, 0, 0.5);
$error-block: rgba(207, 47, 47, 0.808);
$error-color: #E22A2A;
$loading-cell: rgba(0, 0, 0, 0.2);

$dropdown-color: rgb(240, 240, 240);

$purple-color: #8E3BE3;
$green-color: #21E929;
$orange-color: #F9AA4D;

$role-block: rgba(0, 0, 0, 0.05);
$user-card-color: rgba(0, 0, 0, 0.15);
$user-card-shadow: 0 4px 10px $user-card-color;
$user-card-border: 1px solid $user-card-color;
$user-card-shadow_teacher: 0 4px 10px transparentize($main-color, 0.85);
$user-card-border_teacher: 2px solid transparentize($main-color, 0.85);

// modal color
$modal-success: rgba(30, 179, 50, 0.9);
$modal-message: rgba(255, 255, 255, 1);
$modal-error: rgba(177, 25, 25, 0.5);

// marks
$excellent-mark: #21E929;
$good-mark: #EBEF18;
$satisfactorily-mark: #F9B44D;
$bad-mark: #F9764D;
$terrible-mark: #F01F1F;

// achievements
$standard-color: linear-gradient(135deg, #4D69F9 0%, #9D6CDC 100%);
$epic-color: linear-gradient(135deg, #CC4DF9 0%, #F94DD3 100%);
$legendary-color: linear-gradient(135deg, #F6F94D 0%, #F9D34D 100%);
$mythical-color: linear-gradient(135deg, #F94D4D 0%, #DC6C87 100%);
$locked-color: #25262E;

// fonts
$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway';
$montserrat-font: 'Montserrat';

// general styles
*,
*::before,
*::after {
    font-family: $roboto-font;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}

// 
//  default scrollbar for lists
//

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: $block-brd-radius;
}
::-webkit-scrollbar-track {
    background-color: $group-color;
}


::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-image: url('../../images/icons/date-picker.svg');
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0.5;
  }

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}

.nav {
    position: relative;
}

.link {
    text-decoration: none;
}

.textarea {
    resize: none;
    padding: 20px;
}

.textarea:focus {
    color: $font-color;
}

.textarea::placeholder {
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 18px;
    color: transparentize($half-font-color, 0.1);
}

.input,
.textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $input-color;
    color: $half-font-color;
    transition: .3s background-color ease-in-out;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.input:focus {
    color: $font-color;
}

.input_error {
    background-color: transparentize($error-color, 0.75);
    transition: .3s background-color ease-in-out;
}

// for input with placeholder animation effect
.input-effect {
    display: block;
    position: relative;
    font-family: $roboto-font;
    font-weight: 500;
    width: 100%;
    min-height: 50px;

    & > span {
        font-size: 18px;
        position: absolute;
        top: 50%; left: 20px;
        transform: translateY(-50%);
        color: transparentize($half-font-color, 0.1);
        transition: top .3s ease-in-out,
                    font-size .3s ease-in-out,
                    transform .3s ease-in-out;
        pointer-events: none;
    }
}
.input-effect_full {
    height: 100%;
}
.input-effect__input {
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    padding-top: 5px; 

}
.input-effect__input::placeholder {
    opacity: 0;
}
.input-effect__input:focus + span,
.input-effect__input:not(:placeholder-shown) + span  {
    font-size: 12px;
    top: 5px;
    transform: translateY(0);
}

// for div like select
.select {
    position: relative;
    width: 100%;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 45%; right: 15px;
        width: 20px;
        height: 20px;
        background-image: url('../../images/icons/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%) rotate(-90deg);
        transition: .3s transform ease-in-out;
        z-index: 1;
        opacity: 0.5;
    }
    &_active::before {
        transform: translateY(-45%) rotate(90deg);
        transition: .3s transform ease-in-out;

    }
}

.hamburger {
    cursor: pointer;
}

.checkbox {
    $size: 25px;
    min-width: $size;
    min-height: $size;
    background-color: $main-color;
    background-image: url('../../images/icons/checkmark.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.mark {
    background-color: $main-color;

    &_terrible {
        background-color: $terrible-mark!important;
    }
    &_bad {
        background-color: $bad-mark!important;
    }
    &_satisfactorily {
        background-color: $satisfactorily-mark!important;
    }
    &_good {
        background-color: $good-mark!important;
    }
    &_excellent {
        background-color: $excellent-mark!important;
    }
    &_another {
        background-color: $main-color!important;
    }
}

.infinite-scroll-component__outerdiv {
    height: 100%;
}

// styles for layouts
.content-main__grid_two {
    display: grid;
    grid-template-columns: 1fr 550px;
    gap: 30px;
    width: 100%;
    min-height: 720px;
    height: 100%;
    margin-top: 50px;
}

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1000px;
    }
}