// colors
$main-color: #4D5BF9;
$background-color: #FCFCFC;
$block-color: #FFFFFF;
$block-brd-radius: 10px;
$block-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$lesson-color: #F4F4F4;
$group-color: #F4F4F4;
$hover-color: #F2F3F4;
$input-color: #F2F2F2;
$switch-color: #8A8A8A;
$w-font-color: #FFFFFF;
$font-color: #000000;
$half-font-color: rgba(0, 0, 0, 0.5);
$error-block: rgba(207, 47, 47, 0.808);

$purple-color: #8E3BE3;
$green-color: #21E929;
$orange-color: #F9AA4D;

// achievements
$standard-color: linear-gradient(135deg, #4D69F9 0%, #9D6CDC 100%);
$epic-color: linear-gradient(135deg, #CC4DF9 0%, #F94DD3 100%);
$legendary-color: linear-gradient(135deg, #F6F94D 0%, #F9D34D 100%);
$mythical-color: linear-gradient(135deg, #F94D4D 0%, #DC6C87 100%);
$locked-color: #25262E;

// fonts
$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway';
$montserrat-font: 'Montserrat';

// general styles
*,
*::before,
*::after {
    font-family: $roboto-font;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
    overflow: hidden;
}

.nav {
    position: relative;
}

.link {
    text-decoration: none;
}

.input {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $input-color;
}

.hamburger {
    cursor: pointer;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

// styles for layouts
.content-main__grid_two {
    display: grid;
    grid-template-columns: 1fr 550px;
    // grid-template-rows: 750px;
    gap: 30px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1000px;
    }
}