.aside {
    position: relative;

    &_without-head {
        margin-top: 54px;
    }

    &__heading {
        font-family: $montserrat-font;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
    }

    &__confirm {
        position: relative;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 25px 30px;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        cursor: pointer;

        span {
            font-family: $montserrat-font;
            font-weight: 800;
            font-size: 24px;
            color: $font-color
        }

    }
    &__confirm::before {
        content: '';
        position: absolute;
        top: 50%; left: 30px;
        background-image: url('../../../assets/images/icons/admin/create_user.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
        opacity: 0.35;
    }
}

.aside-users {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $main-color;
            border-radius: $block-brd-radius;
        }
        &::-webkit-scrollbar-track {
            background-color: $group-color;
        }

        &__item {
            display: flex;
            align-items: center;
            border-radius: $block-brd-radius;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;

            &_current {
                background-color: $main-color;
                color: $w-font-color;
            }
            &_current:hover {
                background-color: $main-color!important;
            }
        }
        &__item:hover {
            background-color: $hover-color;
        }
        &__buttons {
            margin-left: auto;
        }
        &__button {
            $size: 25px;
            position: relative;
            min-width: $size;
            min-height: $size;
            background-color: transparent!important;
            margin-left: 10px;
            cursor: pointer;
            transform: translateY(0);

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__button:hover {
            transform: translateY(-1px);
        }
        &__image {
            $size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: $size;
            min-height: $size;
            background-color: #EDEDED;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 20px;
            
            img {
                width: calc($size / 2);
                height: calc($size / 2);
            }
        }
        &__login {
            font-family: $roboto-font;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__button {
        position: relative;
        background-color: $hover-color;
        border-radius: $block-brd-radius;
        width: calc(100% - 40px);
        height: 60px;
        padding: 20px;
        margin: auto auto 0;
        margin-top: 30px;
        cursor: pointer;

        span {
            font-family: $montserrat-font;
            font-weight: 500;
            font-size: 18px;
        }
    }
    &__button::before {
        content: '';
        position: absolute;
        left: 20px;
        width: 20px;
        height: 20px;
        background-image: url('../../images/icons/plus.png');
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(0);
        transition: transform .3s ease-in-out;
    }
    &__button:hover:before {
        transform: rotate(180deg);
        transition: transform .3s ease-in-out;
    }
}