.auth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        width: 500px;
        height: 500px;
        padding: 30px;
        margin-right: 35px;

        &__heading {
            font-family: $montserrat-font;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 50px;
        }
        &__field {
            width: 100%;
        }
        &__field:not(:last-child) {
            margin-bottom: 30px;
        }
        &__field:last-child {
            margin-bottom: 20px;
        }
        &__input {
            color: transparentize($font-color, 0.6);
            width: 100%;
            padding: 20px;
        }
        &__input:focus {
            color: $font-color;
        }
        &__input::-webkit-input-placeholder {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            color: transparentize($font-color, 0.6);
        }
        &__error {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color: $error-block;
            border-radius: $block-brd-radius;
            margin-top: 10px;
        }
        &__forget {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            text-decoration: underline;
            margin-left: auto;
            color: transparentize($main-color, 0.25)
        }
        &__footer {
            width: 100%;
            margin-top: auto;
        }
        &__submit {
            background-color: $main-color;
            border-radius: $block-brd-radius;
            width: 100%;
            height: 60px;
            margin-top: 20px;
            cursor: pointer;

            span {
                font-family: $roboto-font;
                font-weight: 700;
                font-size: 24px;
                color: $w-font-color;
            }
        }
    }
    &-aside {
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;
        width: 500px;
        height: 500px;

        &__heading {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__paragraph {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        &__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
        }
        &__link {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
        }
    }
}