.create {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 530px;
        gap: 50px;
    }
    &-aside {
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 20px;
        margin-top: 54px;
        height: 730px;
    }
    &-section {
        position: relative;
        margin-bottom: 30px;

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $montserrat-font;
            font-weight: 800;
            font-size: 24px;
            color: $font-color;
            margin-bottom: 30px;

            span:last-child {
                font-family: $roboto-font;
                font-weight: 500;
                font-size: 14px;
                color: transparentize($half-font-color, 0.15);
            }
        }
    }
    &-user {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 150px 1fr;
        grid-template-areas: 
        "image info"
        "image roles";
        gap: 20px;

        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;

        &__content {
            display: flex;
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EDEDED;
            min-width: 150px;
            min-height: 150px;
            max-width: 150px;
            max-height: 150px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 50px;
            grid-area: image;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }
        &-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            grid-area: info;

            &__grouping {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;
            }

            &__label {
                position: relative;
                font-family: $roboto-font;
                font-weight: 500;
                width: 100%;

                span {
                    font-size: 18px;
                    position: absolute;
                    top: 50%; left: 20px;
                    transform: translateY(-50%);
                    color: transparentize($half-font-color, 0.1);
                    transition: top .3s ease-in-out,
                                font-size .3s ease-in-out,
                                transform .3s ease-in-out;
                }
            }
            &__label + &__label {
                margin-left: 20px;
            }
            &__input {
                font-size: 18px;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                padding-top: 5px; 
            }
            &__input::placeholder {
                opacity: 0;
            }
            &__input:focus + span,
            &__input:not(:placeholder-shown) + span  {
                font-size: 12px;
                top: 5px;
                transform: translateY(0);
            }
            &__button {
                width: 100%;
                margin-top: 20px;
            }
        }
        &__roles {
            display: flex;
            grid-area: roles;
        }
        &__button {
            width: 100%;
            border-radius: $block-brd-radius;
            padding-top: 15px;
            padding-bottom: 14px;
            cursor: pointer;
        }
        &__button + &__button {
            margin-left: 20px;
        }
        &__button_active {
            background-color: $main-color;
            color: $w-font-color;
        }
    }
}