.disciplines-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: $hover-color;
        border-radius: $block-brd-radius;
        overflow: hidden;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
    }
    &__item_active {
        background-color: $main-color!important;
    }
    &__item_active &__title {
        color: $w-font-color;
    }
    &__item_full {
        height: 60px;
        background-color: transparent;

        .disciplines-list__title {
            font-size: 18px;
        }
    }
    &__item_full:hover {
        background-color: $hover-color;
    }
    &__image {
        $size: 50px;
        position: relative;
        min-width: $size;
        min-height: $size;
        max-width: $size;
        max-height: $size;
        margin-right: 10px;

        img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__title {
        width: 80%;
        font-family: $roboto-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $font-color;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}