.footerbar {
    display: none;
    left: 0; bottom: 0;

    &_show {
        display: block;
    }
    &__blackover {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background-color: $blackover;
    }
    &__component {
        position: absolute;
        bottom: 0; left: 0;
        z-index: 999;
        background-color: $block-color;
        border-radius: $block-brd-radius;
    }
}