.groups {
    position: relative;
    overflow-y: auto;
    margin-top: 20px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
        border-radius: $block-brd-radius;
    }
    &::-webkit-scrollbar-track {
        background-color: $group-color;
    }

    &-list {
        position: relative;
        width: 100%;

        &__item {
            position: relative;
            margin-bottom: 20px;
        }
        &__title {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;

            @include landscape(phone) {
                font-size: 18px;
            }
        }
    }
    &-sublist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $group-color;
            border-radius: $block-brd-radius;
            width: 100px;
            height: 50px;
            cursor: pointer;
        }
        &__item:hover {
            background-color: $hover-color;
        }
        &__item_current {
            color: $w-font-color;
            background-color: $main-color;
        }
        &__item_current:hover {
            background-color: $main-color!important;
        }
        &__name {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;

            @include landscape(phone) {
                font-size: 14px;
            }
        }
    }
    &_a {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &-selection {
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;
        width: 100%;
        height: 500px;
        transition: box-shadow .3s ease-in-out;

        &_highlight {
            box-shadow: $block-shadow_highlight;
            transition: box-shadow .3s ease-in-out;
        }

        &__search {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            padding: 0 20px;
        }
        &__grouping {
            background-color: $block-color;
            border-radius: $block-brd-radius;
            box-shadow: $block-shadow;
            height: 100%;
            padding: 20px;
        }
        &-list {
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $main-color;
                border-radius: $block-brd-radius;
            }
            &::-webkit-scrollbar-track {
                background-color: $group-color;
            }

            &__item {
                display: flex;
                align-items: center;
                background-color: transparent;
                border-radius: $block-brd-radius;
                height: 50px;
                padding: 5px 10px;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    background-color: $hover-color;
                }
                &_current {
                    color: $w-font-color;
                    background-color: $main-color;
                }
                &_current:hover {
                    background-color: $main-color!important;
                }
            }
            &__item_active {
                background-color: $main-color;
            }
            &__image {
                $size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: $size;
                min-height: $size;
                background-color: #EDEDED;
                border-radius: 100%;
                overflow: hidden;
                margin-right: 15px;

                img {
                    top: 0; left: 0;
                    width: calc($size / 2);
                    height: calc($size / 2);
                    object-fit: contain;
                }
            }
            &__title {
                font-family: $roboto-font;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;
        width: 100%;
        height: 500px;

        &-empty {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__image {
                position: relative;
                min-width: 75px;
                min-height: 75px;
                opacity: 0.5;
    
                img {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__descr {
                font-family: $roboto-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                width: 250px;
                text-align: center;
    
                span {
                    color: $main-color;
                    cursor: pointer;
                }
                span:hover {
                    text-decoration: underline;
                }
            }
        }
        &__grouping {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        &__heading {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 15px;
        }
        &__content {
            display: flex;
            align-items: center;
        }
        &__image {
            position: relative;
            min-width: 30px;
            min-height: 30px;
            margin-right: 15px;
            opacity: 0.5;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__text {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 16px;
            color: $font-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-count {
            display: flex;
            align-items: center;
            background-color: $hover-color;
            border-radius: $block-brd-radius;
            height: 60px;
            padding: 15px;
            margin-top: auto;

            &__image {
                position: relative;
                min-width: 30px;
                min-height: 30px;

                img {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__text {
                font-family: $montserrat-font;
                font-weight: 500;
                font-size: 18px;
                text-align: center;
                color: $font-color;
                margin: 0 auto 0;
            }
        }
    }
}