.journal {
    $footer-height: 120px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    width: 100%;
    height: 100%;

    &-main {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 30px;
    }

    &-tasks-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &-tasks {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 70vh;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;
        overflow-x: hidden;
        overflow-y: scroll;

        &-head {
            width: 100%;
            padding: 0 30px;
            margin-bottom: 15px;

            &__item {
                display: flex;
                width: 100%;
                align-items: center;
            }
        }
        &__item:hover &__title {
            text-decoration: underline;
        }
        &__task,
        &__user {
            display: flex;
            align-items: center;
            flex-grow: 1;
            width: 100%;
            height: 35px;

            img {
                width: 35px;
                height: 35px;
                opacity: 0.35;
                margin: 0 auto;
                object-fit: contain;
            }
        }
        &__user &__image {
            background-color: $hover-color;
            border-radius: 100%;
            overflow: hidden;
        }
        &__user &__image_empty {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: static;
                width: 30px;
                height: 30px;
                opacity: 1!important;
            }
        }
        &__published,
        &__deadline,
        &__avg {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 200px;
            min-height: 35px;

            img {
                margin: 0 auto;
                max-width: 35px;
                max-height: 35px;
                object-fit: contain;
                opacity: 0.35;
            }
        }
        &__grouping {
            position: relative;
            display: flex;
            align-items: center;
            gap: 50px;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;

            img {
                margin: 0 auto;
                max-width: 35px;
                max-height: 35px;
                object-fit: contain;
                opacity: 0.35;
            }
            span {
                min-width: 35px;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            flex-basis: 200px;
            cursor: pointer;
        }
        // also can contains
        // journal-tasks-details
        &__item &__grouping {
            
            span {
                display: block;
                position: relative;
            }
        }
        &__task,
        &__user {
            display: flex;
            align-items: center;
            gap: 40px;
            width: 100%;
        }
        &__image {
            position: relative;
            width: 40px;
            height: 40px;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__title {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 24px;
            color: $font-color;
            width: 300px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-details {
            position: absolute;
            // left: 50%; bottom: -50px;
            width: 100%;
            height: 50px;
            background-color: $hover-color;
            // transform: translate(-50%, 0);
            z-index: 10;

            &-details::before {
                content: '';
                position: absolute;
                // top: 0; left: 50%;
                width: 10px;
                height: 10px;
                background-color: $hover-color;
                // transform: translate(0, -50%);
                z-index: 10;
            }

            &__title {
                font-family: $roboto-font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 5px;
            }
            // for summary tag
            &__title::after {
                content: '';
            }
            &__descr {
                font-family: $roboto-font;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    &-sort {
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 550px;
        height: 100%;

        &__heading {
            height: 38px;
        }
        &__controls {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: 100%;
            background-color: $background-color;
            border-radius: $block-brd-radius;
            box-shadow: $block-shadow;
            padding: 30px;
        }
    }

    &-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 550px;
        gap: 30px;
        grid-column: 1 / -1;
        width: 100%;
        height: $footer-height;
    }
    &-stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        height: 120px;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 35px 30px;

        &__image {
            position: relative;
            min-width: 50px;
            min-height: 50px;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 0.35;
            }
        }
        &__title {
            font-family: $roboto-font;
            font-family: 500;
            font-size: 18px;
            line-height: 22px;
            color: $half-font-color;
        }
        &__value {
            position: relative;
            font-family: $montserrat-font;
            font-weight: 800;
            font-size: 36px;
            color: $font-color;
            
            span {
                position: relative;
                z-index: 1;
            }
            span::after {
                content: '';
                position: absolute;
                left: 9px; bottom: 2px;
                width: 100%;
                height: 9px;
                z-index: -1;
            }
        }
        &:nth-child(1) &__value span::after {
            background-color: $purple-color;
        }
        &:nth-child(2) &__value span::after {
            background-color: $orange-color;
        }
        &:nth-child(3) &__value span::after {
            background-color: $main-color;
        }
    }
}