$cell-size: 60px;

@keyframes animateCells {
    0% {
        width: $cell-size;
        height: $cell-size;
    }
    50% {
        width: calc($cell-size - 15px);
        height: calc($cell-size - 15px);
    }
    100% {
        width: $cell-size;
        height: $cell-size;
    }
}

.loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__text {
        font-family: $roboto-font;
        font-size: 16px;
        font-weight: 500;
    }

    &-cells {
        $gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: calc($cell-size * 2 + $gap);
        gap: $gap;
        margin-bottom: 20px;

        &__cell {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: $cell-size;
                height: $cell-size;
                background-color: $loading-cell;
                animation: animateCells 1s linear forwards;
            }
        }
        &__cell:nth-child(2) span {
            animation-delay: 1s;
        }
        &__cell:nth-child(3) span {
            animation-delay: 2s;
        }
        &__cell:nth-child(4) span {
            animation-delay: 3s;
        }
    }
}