.message {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $hover-color;
    border-radius: $block-brd-radius;
    min-width: 500px;
    height: auto;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 30px;
    margin-bottom: 70px;
    margin-right: auto;
    z-index: 1;

    &_you {
        margin-right: unset;
        margin-left: auto;

        .message-info {
            left: unset;
            right: 10px;
        }
        .message-content {
            margin-left: auto;
            padding-right: 95px;

            &__user,
            &__text {
                text-align: end;
            }
        }
    }
    &-controls {
        display: none;
        opacity: 0;
    }
    &_controls &-controls {
        position: absolute;
        bottom: 0; left: 0;
        display: flex;  
        align-items: center;
        gap: 10px;
        width: 100%;
        animation: mesControlsAppear .3s forwards ease;
        z-index: 0;
    }
    &-controls__button {
        width: 100%;
        height: 40px;
        cursor: pointer;
        border-radius: $block-brd-radius;

        span {
            font-family: $montserrat-font;
            font-weight: 500;
            font-size: 14px;
            color: $font-color;
        }
    }

    @keyframes mesControlsAppear {
        0% {
            bottom: 0;
            opacity: 0;
        }
        100% {
            bottom: -45px;
            opacity: 1;
        }
    }


    &-info {
        position: absolute;
        left: 10px; top: -24px;
        text-align: center;

        &__image {
            position: relative;
            min-width: 65px;
            min-height: 65px;
            max-height: 65px;
            max-width: 65px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 10px;
        }
        &__image img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__image_empty {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $hover-color;
        }
        &__image_empty img {
            position: static;
            width: calc(100% / 1.5);
            height: calc(100% / 1.5);
        }
        &__time {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $half-font-color;
        }
    }
    &-content {
        padding-left: 95px;

        &__user {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: $font-color;
            margin-bottom: 5px;
        }
        &__text {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: $font-color;
            overflow-wrap: break-word;
        }
    }
}

.message:first-child {
    margin-top: auto;
}