.messages {
    position: relative;
    display: flex;
    flex-direction: column;

    &__heading {
        position: relative;
        margin-bottom: 50px;
    }
    &__title {
        font-family: $montserrat-font;
        font-weight: 700;
        font-size: 36px;
    }

    &-info {
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    &-list {
        width: 100%;
        margin-top: 26px;

        &__item {
            display: flex;
            align-items: center;
            padding: 12px 15px 13px 15px;
            background-color: $block-color;
            border-radius: $block-brd-radius;
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;

            &_active,
            &:hover {
                background-color: $hover-color;
            }
        }
        &__image {
            position: relative;
            width: 65px;
            height: 65px;
            border-radius: 100%;
            margin-right: 15px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__name {
            font-family: $roboto-font;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
        }
        &__lastmsg {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 14px;
            color: $half-font-color;
        }
        &__notification {
            $size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $size;
            height: $size;
            background-color: $main-color;
            border-radius: 100%;
            margin-left: auto;

            span {
                font-family: $roboto-font;
                font-weight: 500;
                font-size: 14px;
                color: $w-font-color;
            }
        }
    }
}

.online {
    position: absolute;
    bottom: 0; right: 0;
    width: 13px;
    height: 13px;
    background-color: $green-color;
    border-radius: 100%;
    border: 5px solid $block-color;
}