.search {
    display: flex;
    align-items: center;
    background-color: $input-color;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 13px 20px 12px 20px;

    @include landscape(phone) {
        height: 30px;
        padding: 7px 10px;
    }

    &_sm {
        width: 300px;

        @include landscape(phone) {
            width: 150px;
        }
    }

    &__image {
        position: relative;
        width: 25px;
        height: 25px;
        opacity: 0.5;

        @include landscape(phone) {
            width: 15px;
            height: 15px;
        }

        img {
            position: absolute;
            top: 0; left: 0;
            min-width: 100%;
            min-height: 100%;
            object-fit: contain;
        }
    }

    &__input {
        font-family: $roboto-font;
        font-weight: 500;
        font-size: 18px;
        color: #787878;
        margin-left: 20px;
        width: 100%;

        @include landscape(phone) {
            font-size: 10px;
            line-height: 12px;
            margin-left: 10px;
        }
    }

    &__input:focus {
        color: #000000;
    }
}