.stats {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 20px;
        min-width: 350px;
        max-width: 350px;
        height: 250px;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;

        &:nth-child(1) span::after {
            background-color: $green-color;
        }
        &:nth-child(2) span::after {
            background-color: $purple-color;
        }
        &:nth-child(3) span::after {
            background-color: $main-color;
        }
        &:nth-child(4) span::after {
            background-color: $orange-color;
        }
    }
    &__image {
        position: relative;
        min-width: 125px;
        min-height: 125px;
        opacity: 0.35;
        
        img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-counter {
        position: relative;
        
        &__number {
            position: relative;
            font-family: $montserrat-font;
            font-weight: 800;
            font-size: 36px;
            margin-bottom: 10px;
            width: auto;
            z-index: 1;
        }
        &__number span {
            position: relative;
            z-index: 1;
        }
        &__number span::after {
            content: '';
            position: absolute;
            left: 9px; bottom: 0;
            width: 100%;
            height: 10px;
            z-index: -1;
        }
        &__descr {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $half-font-color;
        }
        &__progress {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }
    }
}