.swiper-tasks {
    height: 180px;
}

.swiper-wrapper {

}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0!important;
    right: auto!important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: auto!important;
    right: 0!important;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
    content: ''!important;
    font-family: unset!important;
    width: 30px;
    height: 30px;
    background-image: url('../../images/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5;
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    content: ''!important;
    font-family: unset!important;
    width: 30px;
    height: 30px;
    background-image: url('../../images/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5;
    transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
    width: 30px!important;
}