.tasks-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 61px;
        height: 100%!important;
    }

    &-list::-webkit-scrollbar {
        display: none;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &__link {
            font-family: $roboto-font;
            font-size: 18px;
            font-weight: 500;
            color: $main-color;
        }
        & > .switch {
            width: auto;
        }
        & .switch__title {
            margin-right: 20px;
        }
    }

    &-section {
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding-top: 43px;
        padding-left: 35px;
        padding-right: 100px;
        padding-bottom: 20px;  

        &__image {
            position: relative;
            min-width: 125px;
            min-height: 125px;
            opacity: 0.35;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        } 
        &__mark {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $montserrat-font;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            color: $w-font-color;
            $size: 75px;
            position: absolute;
            bottom: calc(-1 * ($size / 2)); right: 0;
            width: $size;
            height: $size;
            border-radius: 100%;
            overflow: hidden;
        }
        &__link_h {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &-info {
        width: 100%;

        &__date {
            display: block;
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 16px;
            color: transparentize($font-color, 0.65);
            margin-bottom: 15px;
        }
        &__title {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 24px;
            color: $font-color;
            margin-bottom: 20px;
        }
        &__descr {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 18px;
            color: $font-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 23px;
        }
        &__answer {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            color: $font-color;
            margin-bottom: 20px;
        }
        &__author {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            border-top: 1px solid transparentize($font-color, 0.75);
            padding-top: 20px;
        }
        &__published {
            display: block;
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 18px;
            color: transparentize($font-color, 0.65);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-info-user {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__image {
            position: relative;
            min-height: 50px;
            min-width: 50px;
            margin-right: 15px;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__image_empty {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F2F3F4;
            border-radius: 100%;

            img {
                position: static;
                width: 25px;
                height: 25px;
            }
        }
        &__heading {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            color: $font-color;
            margin-bottom: 5px;
        }
        &__fullname {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 16px;
            color: $font-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 200px;
        }
    }
}

$aside-width: 550px;

.tasks-aside {
    display: flex;
    flex-direction: column;
    min-width: $aside-width;
    height: 100%;
    gap: 20px;

    &__search {
        margin-bottom: 30px;
    }
    &__disciplines {
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        height: 100%;
        padding: 20px;
    }
}

.task {
    position: relative;
    width: 100%;
    background-color: $block-color;
    border-radius: $block-brd-radius;
    box-shadow: $block-shadow;
    padding: 30px;

    &-description__heading,
    &-files__heading {
        position: relative;
        font-family: $roboto-font;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: $font-color;
    }

    $icon-size: 35px;

    &-description,
    &-files {
        position: relative;
        padding-left: calc($icon-size + 20px);
        margin-bottom: 50px;
    }

    &-description::before,
    &-files::before {
        content: '';
        position: absolute;
        left: 0;
        width: $icon-size;
        min-height: $icon-size;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-description {
        
        &::before {
            background-image: url('../../images/icons/tasks/task.png');
        }

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            min-height: $icon-size;
        }
        &__text {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $font-color;
        }
    }
    &-files {

        &::before {
            background-image: url('../../images/icons/tasks/files.png');
        }
        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 33px;
            min-height: $icon-size;
        }
        &__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 37px;
        }
        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 150px;
        }
        &__link {
            position: relative;
            min-width: 100%;
            min-height: 150px;
            margin-bottom: 12px;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__name {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $font-color;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &-aside {
        position: relative;
        min-width: 550px;
    }
    &-attributes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        background-color: $block-color;
        border-radius: $block-brd-radius;
        box-shadow: $block-shadow;
        padding: 30px;
        margin-bottom: 20px;

        &__item {
        //    
        }
        &__item:nth-child(even) {
            min-width: 150px;
            margin-left: auto;
        }
        &__heading {
            font-family: $roboto-font;
            font-weight: 600;
            font-size: 18px;
            color: $font-color;
            margin-bottom: 15px;
        }
        &__value {
            display: flex;
            align-items: center;
        }
        &__image {
            position: relative;
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            max-height: 30px;
            margin-right: 20px;
            opacity: 0.5;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__text {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 16px;
            color: $font-color;
            width: calc($aside-width / 2 - 30px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__footer {
            grid-column: span 2;
            border-top: 1px solid transparentize($font-color, 0.65);
            padding-top: 20px;
        }
    }
    &-attributes-author {
        display: flex;
        align-items: center;
        gap: 15px;

        &__image {
            display: block;
            position: relative;
            min-width: 50px;
            min-height: 50px;
            max-width: 50px;
            max-height: 50px;
            background-color: $hover-color;
            border-radius: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__image_empty {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: static;
                width: 30px;
                height: 30px;
            }
        }
        &__heading {
            font-family: $roboto-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $font-color;
            text-decoration: none;
            margin-bottom: 5px;
        }
        &__fullname {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            color: $font-color;
        }
    }
}