// fonts
@import './base/fonts.scss';

// base styles
@import './base/general';
@import './base/reset';
@import './base/slick-slider';

// main styles
@import './main/navbar';
@import './main/content';
@import './main/auth';
@import './main/home-tasks';
@import './main/timetable';
@import './main/lessons';
@import './main/messages';
@import './main/groups';
@import './main/tasks';
@import './main/profile';
@import './main/notfound';
@import './main/createN';
@import './main/aside';
@import './main/loading';
@import './main/stats';
@import './main/user';
@import './main/users';
@import './main/contacts-list';
@import './main/students-list';
@import './main/achievements-list';
@import './main/disciplines-list';
@import './main/settings';
@import './main/extra';
@import './main/selection';
@import './main/cards';
@import './main/switch';
@import './main/search';
@import './main/dropdown';
@import './main/error';
@import './main/files';
@import './main/reply';
@import './main/modal';
