// fonts
@import './base/fonts.scss';

// base styles
@import './base/general';
@import './base/reset';
@import './base/slick-slider';

// main styles
@import './main/navbar';
@import './main/content';
@import './main/auth';
@import './main/home-tasks';
@import './main/timetable';
@import './main/lessons';
@import './main/messages';
@import './main/groups';
@import './main/profile';
@import './main/notfound';
@import './main/create';
@import './main/aside-users';
@import './main/loading';
@import './main/stats';
@import './main/user';
@import './main/contacts-list';
@import './main/achievements-list';
@import './main/settings';
@import './main/extra';
@import './main/cards';
@import './main/switch';
@import './main/search';
